{% extends 'header.html' %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
	<title>Index Page</title>
	<style>
         table, th, td {  
                text-align:center; 
            } 
            th, td { 
                padding: 10px; 
                background-color:orange; 
            }
            h1{
            	color: red;
            }
      </style>
</head>
<body>
<center>
	<h1>Contact Us</h1>
	{% if msg %}
		<b>{{msg}}</b>
	{% endif %}
	<form name="contact" method="post" action="{% url 'contact' %}">
		{% csrf_token %}
		<table>
			<tr>
				<td>Name</td>
				<td><input type="text" name="cname" required="required"></td>
			</tr>
			<tr>
				<td>Email</td>
				<td><input type="text" name="email"  required="required"></td>
			</tr>
			<tr>
				<td>Mobile</td>
				<td><input type="text" name="mobile" required="required"></td>
			</tr>
			<tr>
				<td>Feedback</td>
				<td><textarea rows="5" cols="22" name="feedback"  required="required"></textarea></td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<input type="submit" name="submit" value="SUBMIT">
				</td>
			</tr>
		</table>
	</form>
</center>

<hr>
<h2>Recent Feedbacks</h2>
<hr>
{% for i in contacts %}
	<p><b>Name : </b>{{i.name}}</p>
	<p><b>Feedback : </b>{{i.feedback}}</p>
	<hr>
{% endfor %}
</body>
</html>

{% endblock %}