{% extends 'header.html' %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
	<title>Enter New Password Page</title>
	<style>
         table, th, td {  
                text-align:center; 
            } 
            th, td { 
                padding: 10px; 
                background-color:orange; 
            }
            h1{
            	color: red;
            }
      </style>
</head>
<body>
<center>
	<h1>Enter New Password</h1>
	{% if msg %}
		<b>{{msg}}</b>
	{% endif %}
	<form name="login" method="post" action="{% url 'new_password' %}">
		{% csrf_token %}
		<table>
			<tr>
				<td><input type="hidden" name="email" value="{{email}}"></td>
			</tr>
			<tr>
				<td>New Password</td>
				<td><input type="password" name="npassword"></td>
			</tr>
			<tr>
				<td>Confirm New Password</td>
				<td><input type="password" name="cnpassword"></td>
			</tr>
			
			<tr>
				<td colspan="2" align="center">
					<input type="submit" name="submit" value="Change Password">
				</td>
			</tr>
		</table>
	</form>
	
</center>

</body>
</html>

{% endblock %}