{% extends 'header.html' %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
	<title>Forgot Password Page</title>
	<style>
         table, th, td {  
                text-align:center; 
            } 
            th, td { 
                padding: 10px; 
                background-color:orange; 
            }
            h1{
            	color: red;
            }
      </style>
</head>
<body>
<center>
	<h1>Enter Email</h1>
	{% if msg %}
		<b>{{msg}}</b>
	{% endif %}
	<form name="forgot_password" method="post" action="{% url 'forgot_password' %}">
		{% csrf_token %}
		<table>
			
			<tr>
				<td>Email</td>
				<td><input type="text" name="email"  required="required"></td>
			</tr>		
			<tr>
				<td colspan="2" align="center">
					<input type="submit" name="submit" value="Send OTP">
				</td>
			</tr>
		</table>
	</form>
</center>

</body>
</html>

{% endblock %}