{% extends 'header.html' %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<style>
         table, th, td {  
                text-align:center; 
            } 
            th, td { 
                padding: 10px; 
                background-color:orange; 
            }
            h1{
            	color: red;
            }
      </style>
</head>
<body>
<center>
	<h1>Login</h1>
	{% if msg %}
		<b>{{msg}}</b>
	{% endif %}
	{% if msg1 %}
		Click <a href="{% url 'enter_email' %}">Here</a> To Activate Your Status
	{% endif %}
	<form name="login" method="post" action="{% url 'login' %}">
		{% csrf_token %}
		<table>
			<tr>
				<td>User Type</td>
				<td>
					<input type="radio" name="usertype" value="user">User&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="radio" name="usertype" value="seller">Seller
				</td>
			</tr>
			<tr>
				<td>Email</td>
				<td><input type="text" name="email"  required="required"></td>
			</tr>
			
			<tr>
				<td>Password</td>
				<td><input type="password" name="password"></td>
			</tr>
			
			<tr>
				<td colspan="2" align="center">
					<input type="submit" name="submit" value="Login">
				</td>
			</tr>
		</table>
	</form>
	<a href="{% url 'forgot_password' %}">Forgot Password</a>
</center>

</body>
</html>

{% endblock %}