<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'seller_index' %}">e-Commerce</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'seller_index' %}">Home</a></li>
      <li><a href="{% url 'add_product' %}">Add Product</a></li>
      <li><a href="{% url 'view_product' %}">View Product</a></li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if request.session.fname %}
        <img src="{{request.session.image}}" height="50px" width="50px">
        <li><a href="{% url 'get_unavailable' %}"><span class="glyphicon glyphicon-log-in"></span> Unavailable Products</a></li>
        <li><a href="{% url 'change_password' %}"><span class="glyphicon glyphicon-log-in"></span> Change Password</a></li>
        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout {{request.session.fname}} {{request.session.lname}}</a></li>
      {% else %}
        <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      {% endif %}
      
    </ul>
  </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>